$purple-100: #251f35;
$purple-90: #322b42;
$purple-80: #5c5370;
$purple-10: #dcd9e4;

$select-hover: #5c5370;
$select-active: #544c67;

$button-hover: #786c93;
$button-active: #544c67;

$tablero-border: hsl(258, 21%, 11%);
$celda-1: #322b42;
$celda-2: hsl(258, 21%, 25%);
$celda-decubierta-1: hsl(256, 17%, 85%);
$celda-decubierta-2: hsl(256, 17%, 75%);
